<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/productInfo.css">
  <link rel="stylesheet" href="../css/style.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
  <link rel="shortcut icon" type="image/png"
    href="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/xcthvj8eous3atuqybxm" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap" rel="stylesheet" />
  <title>Buy Fabiola 2 Seater Sofa In Grey Colour Online - Rolled Arms 2 Seater Sofas - Sofas - Furniture - Pepperfry
    Product</title>
</head>

<body>
  <header id="navbar"></header>
  <article>
    <div id="one">
      <span>Home > Furniture > Sofas & Loungers > Sofas > 2 Seater Sofas > </span><span style="color: black;">Rolled
        Arms 2 Seater Sofas</span>
    </div>
    <div class="content">
      <div class="left">
        <img id="sofaimg"
          src="https://ii1.pepperfry.com/media/catalog/product/f/a/568x284/fabiola-2-seater-sofa-in-blue-colour-fabiola-2-seater-sofa-in-blue-colour-gomeu2.jpg" />
        <div class="share-wishlist">
          <a href="#" class="share">
            <svg xmlns="http://www.w3.org/2000/svg" class="share-icon" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />
            </svg>
            <p>Share This Product</p>
          </a>
          <a href="#" class="add-to-wishlist">
            <svg xmlns="http://www.w3.org/2000/svg" class="add-to-wishlist-icon" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
            <p>Add To Wishlist</p>
          </a>
        </div>
      </div>
      <div class="right">
        <h2 id="NAME" class="heading"></h2>
        <div id="BRAND" class="arra-div">By ARRA</div>
        <div class="price">
          <svg xmlns="http://www.w3.org/2000/svg" class="rupee-icon" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 8h6m-5 0a3 3 0 110 6H9l3 3m-3-6h6m6 1a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <h2 id="mrp" class="mrp">26,553</h2>
          <div class="tax">(Inclusive of all taxes)</div>
        </div>
        <div class="saving">
          <div class="total-saving">Total savings</div>
          <a href="#" class="rupee">
            <svg xmlns="http://www.w3.org/2000/svg" class="rup" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 8h6m-5 0a3 3 0 110 6H9l3 3m-3-6h6m6 1a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg><span id="cutprice">57,637</span> (68% Off)</a>
            a>
        </div>
        <div>
          <img src="https://ii2.pepperfry.com/media/wysiwyg/banners/Web_VIPCoupon_c_011121_2x_New.jpg" alt="Offer-Image"
            class="offer-img" />
        </div>
        <div class="features">
          <div>
            <img src="https://ii1.pepperfry.com/images/svg/w20-calender-icon.svg" alt="" />
          </div>
          <a href="#" class="info emi-link">EMI from
            <svg xmlns="http://www.w3.org/2000/svg" class="emi-rupee-icon" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 8h6m-5 0a3 3 0 110 6H9l3 3m-3-6h6m6 1a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            1,250 No Cost EMI</a>
          <div class="info">
            <img src="https://ii1.pepperfry.com/images/svg/w20-warranty-icon.svg" alt="" />
          </div>
          <div class="info">12 Months Warranty</div>
          <div>
            <img src="https://ii1.pepperfry.com/images/svg/w20-returns-icon.svg" alt="" />
          </div>
          <div class="info">Easy Returns</div>
          <div>
            <img src="https://ii1.pepperfry.com/images/svg/w21-safe-delivery.svg" alt="" />
          </div>
          <div>Safe Delivery</div>
        </div>
        <div class="offer-zone">
          <h3 class="more-offers">More Offers</h3>
          <div class="offers">
            <div class="card-offer">ICICI Bank Debit & Credit Cards</div>
            <div class="card-details">
              Get Extra 10% off on ICICI Bank Credit & Debit Cards . Maximum
              Discount Rs 3000
              <div class="code">Code: <span class="coupon">ICICIPF10</span class="coupon"></div>
            </div>
            <div class="card-offer">ICICI Bank EMI</div>
            <div class="card-details">
              Get Extra 10% off on EMI purchases through ICICI Bank Cards.
              Maximum Discount Rs 5000
            </div>
            <div class="code">Code: <span class="coupon">ICICIPFEMI10</span class="coupon"></div>
            <div class="card-offer">IDFC FIRST Bank Debit & Credit Cards</div>
            <div class="card-details">
              Get Extra 10% off on IDFC FIRST Bank Credit & Debit Cards .
              Maximum Discount Rs 1250
            </div>
            <div class="code">Code: <span class="coupon">IDFCPF10</span class="coupon"></div>
            <a href="#" class="see-all-offers">See All Offers (5)</a>
          </div>
        </div>
        <div class="quantity">
          <h4 class="quant-display">Quantity</h4>
          <select name="quantity" id="options">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
          </select>
          <div class="pieces-left">Only 3 Left</div>
        </div>
        <div class="buttons">
          <button onclick="ADDTOCART()" class="add-to-cart" >ADD TO CART</button>
          <a id="go"><button id="cart-btn" class="buy-now">BUY NOW</button></a>
        </div>
        <hr />
        <div class="delivery">
          <div class="delivery-heading">Delivery</div>
          <div class="input-field">
            <input type="text" placeholder="Pincode" class="pincode-input" />
            <button class="pincode-btn">Apply</button>
            <div class="instruction-1">
              Enter Pincode to get Delivery Date, Assembly Information and other details
            </div>
            <div class="instruction-2">
              Delivery & Assembly Charges Extra. Enter Pincode to Know
            </div>
          </div>
        </div>
        <hr />
        <div class="details">
          <div class="product-details">Details</div>
          <div class="full-details">
            <div class="point">Brand: <span class="additional-details">ARRA</span></div>
            <div class="point">Dimensions: <span class="additional-details"> H 37.5 x W 62 x D 36 ; Seating Height:18
                (all dimensions in inches) </span> </div>
            <div class="point">Weight: <span class="additional-details">46.2 KG</span></div>
            <div class="point">Warranty: <span class="additional-details"> 12 Months' Warranty</span></div>
            <div class="point">Assembly: <span class="additional-details">Carpenter Assembly</span></div>
            <div class="point">Primary Material: <span class="additional-details">Fabric</span> </div>
            <div class="point">Room Type: <span class="additional-details">Living Room</span></div>
            <div class="point">Seating Height: <span class="additional-details">18</span></div>
            <div class="point">Colour: <span class="additional-details">Beige</span></div>
            <div class="point">Sku: <span class="additional-details">FN1824825-P-WH35490</span></div>
            <a href="#" class="see-more-info">See More Information</a>
          </div>
        </div>
      </div>
    </div>
  </article>
  <div class="full-width">
    <div class="post-article">
      <h2 class="sim-prod-heading">SIMILAR PRODUCTS</h2>
      <div class="sim-products">
        <a href="#">
          <div class="sim-prod">
            <img
              src="https://ii1.pepperfry.com/media/catalog/product/r/i/266x293/riviera-2-seater-sofa-in-brown---greencolour-by-arra-riviera-2-seater-sofa-in-brown---greencolour-by-wv2bmb.jpg"
              alt="">
            <div class="sim-prod-name">Riviera 2 Seater Sofa in Brown & Green C...</div>
            <div class="sim-prod-price">
              <svg xmlns="http://www.w3.org/2000/svg" class="sim-prod-rupee-icon" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 8h6m-5 0a3 3 0 110 6H9l3 3m-3-6h6m6 1a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <div>12,401</div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="sim-prod">
            <img
              src="https://ii1.pepperfry.com/media/catalog/product/r/i/266x293/riviera-2-seater-sofa-in-grey---yellowcolour-by-arra-riviera-2-seater-sofa-in-grey---yellowcolour-by-larmtj.jpg"
              alt="">
            <div class="sim-prod-name">Riviera 2 Seater Sofa in Grey & Yellow C...</div>
            <div class="sim-prod-price">
              <svg xmlns="http://www.w3.org/2000/svg" class="sim-prod-rupee-icon" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 8h6m-5 0a3 3 0 110 6H9l3 3m-3-6h6m6 1a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <div>12,401</div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="sim-prod">
            <img
              src="https://ii1.pepperfry.com/media/catalog/product/r/o/266x293/rome-2-seater-sofa-in-blue-colour-by-arra-rome-2-seater-sofa-in-blue-colour-by-arra-gtsnt9.jpg"
              alt="">
            <div class="sim-prod-name">Rome 2 Seater Sofa in Blue Colour b...</div>
            <div class="sim-prod-price">
              <svg xmlns="http://www.w3.org/2000/svg" class="sim-prod-rupee-icon" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 8h6m-5 0a3 3 0 110 6H9l3 3m-3-6h6m6 1a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <div>11,222</div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="sim-prod">
            <img
              src="https://ii1.pepperfry.com/media/catalog/product/m/a/266x293/mario-2-seater-sofa-in-beige-colour-by-arra-mario-2-seater-sofa-in-beige-colour-by-arra-vowv2n.jpg"
              alt="">
            <div class="sim-prod-name">Mario 2 Seater Sofa in Beige Colour b...</div>
            <div class="sim-prod-price">
              <svg xmlns="http://www.w3.org/2000/svg" class="sim-prod-rupee-icon" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 8h6m-5 0a3 3 0 110 6H9l3 3m-3-6h6m6 1a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <div>16,774</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <footer id="footer"></footer>
  <script type="module" src="js/product2.js"></script>
</body>

<script>
  // alert("<%= name %>, <%= price %>");
  let Nam = document.getElementById("NAME")
  Nam.textContent = "<%= name %>"

  let Img = document.getElementById("sofaimg");
  Img.src = "<%= img %>"

  let Price = document.getElementById("mrp")
  Price.textContent = "<%= price %>"

  let brand = document.getElementById("BRAND")
  brand.textContent = "<%= brand %>"

  let cutPrice = document.getElementById("cutprice")
  cutPrice.textContent = "<%= cutPrice %>"


</script>

</html>
<script src="js/productInfo.js"></script>
